<!-- This is just an example. Actual templates may be completely different to fit design requirements. -->

<!-- example:

- Home
- Blog
- About

or:

- Home
- Blog
- ABOUT     // if this section is the active document

-->

<ul class="sections">
{% for section in sections %}
	{% if section.is_current %}
		{% if trail %}
			<li><a href="{{ section.url }}" class="current">{{ section.title }}</a></li>
		{% else %}
			<li><h1>{{ section.title|render_wiki:"plain" }}</h1></li>
		{% endif %}
	{% else %}
		<li><a href="{{ section.url }}">{{ section.title }}</a></li>
	{% endif %}
{% endfor %}
</ul>

<!-- example:

2009 -> February -> MY BLOG POST

-->

{% if trail %}
<div class="trail">
{% for item in trail %}
	{% if forloop.last %}
		<h1>{{ item.title }}</h1>
	{% else %}
		<a href="{{ item.url }}">{{ item.title }}</a> &rarr;
	{% endif %}
{% endfor %}
</div>
{% endif %}
